@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    margin-top: 4em;
    box-sizing: border-box;
    background-color: #FAFAFA;
    color: #f1e3cf;
    background-color: #ee945fc7;
    background-image: url(../dist/images/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
    background-color: #00000098;
    width: 100%;
    padding: 1.2em;
}

nav ul {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-evenly;
}

nav a {
    color: #FAFAFA;
}

nav a:hover {
    color: #eea1a1;
    text-decoration: none;
}

header li {
    list-style-type: none;
}

textarea {
    resize: none;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50vh;
}


/* Home */

#content>div {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    min-height: 200px;
    /* max-height: 80vh; */
    padding: 10px;
    display: flex;
    background-color: #16010198;
}

div#home {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div #intro {
    width: 60%;
    margin: 0 auto;
}

#kino-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff;
}

#face,
.food-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.food-img {
    object-fit: cover;
}


/* Food */

#menu {
    flex-flow: column wrap;
}

#menu #beverage,
#menu #main-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40%;
    gap: 10px;
    margin: 0 auto;
}

.food {
    text-align: center;
    /* background-color: #fafafa8a; */
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.food .food-img-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff00;
}


/* Contact */

div#contact {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    padding: 50px 0;
    font-size: 1.2em;
}


/* Form*/

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

form div {
    flex: 1;
    display: flex;
    flex-flow: column;
}

form input {
    text-align: center;
    background-color: transparent;
    border: none;
    color: #f1e3cf;
    font-size: larger;
    border-bottom: #f1e3cf 2px solid;
}

form button {
    width: 100px;
    height: 50px;
    background-color: #ffae00;
    color: #000000;
    font-weight: 900;
    border-radius: 20px;
}


/* #9D5C0D
#E5890A
#F7D08A
#FAFAFA */