*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 4em;
    box-sizing: border-box;
    background-color: #FAFAFA;
    color: #f1e3cf;
    background-color: gainsboro;
    background-image: url(../dist/images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
}

header {
    position: absolute;
    top: 0;
    background-color: #ecb86a98;
    width: 100%;
    padding: 1.2em;
}

nav ul {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-evenly;
}

header li {
    list-style-type: none;
}

textarea {
    resize: none;
}


/* Home */

#content>div {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

div#home {
    background-color: #16010198;
}


/* #9D5C0D
#E5890A
#F7D08A
#FAFAFA */